:root {
  --default-bg: #ffffff;

  @media (prefers-color-scheme: light) {
    --default-bg: #ffffff;
  }

  @media (prefers-color-scheme: dark) {
    --default-bg: #121212;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.card {
  padding: var(--p-toolbar-padding);
  background: var(--p-toolbar-background);
  border: 1px solid var(--p-toolbar-border-color);
  color: var(--p-toolbar-color);
  border-radius: var(--p-toolbar-border-radius);
}
