BASE_URL=http://dev.slin.ky:3000
DB_URL=file:./server/database/db.sqlite
DB_TOKEN=
JWT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://dev.slin.ky:3000/api/auth/google/callback
TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
