BASE_URL=http://dev.slin.ky:3000
JWT_SECRET=
# Turso Database
TURSO_DB_URL=file:./server/database/db.sqlite
TURSO_AUTH_TOKEN=
# Google Sign-In
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://dev.slin.ky:3000/api/auth/google/callback
# Google Safe Browsing
GOOGLE_SAFE_BROWSING_API_KEY=
# Cloudflare Captcha
TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
# Vercel Storage
BLOB_READ_WRITE_TOKEN=
VERCEL_OIDC_TOKEN=
# IPQS Services
IPQS_API_KEY=